@font-face {
  font-family: Spring;
  src: url(../fonts/Spring.ttf);
}

body {
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 40vw;
  position: relative;
  color: white;
}

.sidebar a {
  color: white;
}

.banner {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 3rem;
  font-family: Spring, sans-serif;
  text-align: center;
  top: 100px;
  width: 100%;
  height: 150px;
}

.banner img {
  width: auto;
  height: 130px;
}

.sidebar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 60vw;
  height: 100%;
  background-color: #30B700 ;
}

h2,
h3,
form {
  padding-left: 50px;
  padding-right: 50px;
}

form {
  background-color: #eee;
}

form h2 {
  padding: 0;
}

label,
input{
  display: block;
}

label {
  font-size: .8rem;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-controls {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin: 0;
}

.control {
  margin: 0 75px 25px 0;
  flex: auto;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 2px #E5E7EB solid;
  outline: none;
  margin-top: 4px;
}

.error {
  border: 2px red solid;
}

input:focus {
  border: 2px blue solid;
  box-shadow: 1px 1px 1px;
}

.password_help {
  display: block;
  font-size: .8rem;
  padding-top: 4px;
  height: 16px;
}


button {
  width: 235px;
  height: 50px;
  margin-left: 50px;
  background-color: #fffb02;
  border-radius: 10px;
  font-weight: bold;
}