body {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 37vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  width: 63vw;
  background-color: silver;
}

h2,
h3,
form {
  padding-left: 50px;
}

form {
  background-color: white;
}

form h2 {
  padding: 0;
}

label,
input{
  display: block;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.inputs div {
  margin: 0 75px 25px 0
}

input {
  width: 20vw;
}

button {
  width: 235px;
  height: 50px;
  margin-left: 50px;
}